#logos ul{
	list-style: none;
}
#logos li{
	
	display:inline;
	margin-left:4.2em;
}
#logos li img{
	max-height: 2em;
	margin-top: .2em;
}
#footer-box{
	position: fixed; bottom: 0; min-width: 100%; background-color:#292c2f;
	box-shadow:1px 0px 1px 1px #ccc;
	padding: -8em 0px;
	height: 40px;
	color: #ffffff;
	box-sizing: border-box;
}
